.ImagePlaceholder {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  position: relative;
  object-fit: cover;
}
.ImagePlaceholder::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(20px);
}
